<header>
  <div class="navbar" style="overflow: auto; height: 100vh;">
    <ul style="width: 100%; height: 100%; gap: 1.5rem; padding-top: 2rem;" class="d-flex flex-column align-items-center justify-content-start list-unstyled">
      <li class="navbar-list"><a class="navbar-contents" href="/"><strong><span style="color: skyblue;">Read</span>My<span style="color: yellow;">Blog</span></strong></a></li>
      <li class="navbar-list"><a class="navbar-contents" href="/"><strong>Home</strong></a></li>
      <li class="navbar-list"><a class="navbar-contents" href="/myposts"><strong>My Posts</strong></a></li>
      <li class="navbar-list"><a class="navbar-contents" href="/post"><strong>Post</strong></a></li>
    </ul>
  </div>
</header>