<% if (locals.message) {%>

    <div id="desktopPostBody" style="display: none;">
        <div class="desktop-body-contents">
            <h2 style="margin-left: 30%;"><%- message %></h2>
            <form action="/submit" method="POST">
                <div class="mb-3">
                <label for="Author Name" class="form-label"><h2>Author</h2></label>
                <input type="text" class="form-control font2 selcted-text-area" id="authorName" name="name" placeholder="Enter name of the author" required>
                </div>
                <div class="mb-3">
                <label for="Content" class="form-label"><h2>Content</h2></label>
                <textarea class="form-control selcted-text-area font2" id="formGroupExampleInput2" name="content" placeholder="Enter your content here" rows="5" required></textarea>
                </div>
                <div class="mb-3">
                <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
        </div>

        <div id="mobilePostBody" style="display: none;">
        <div class="mobile-body-contents">
            <h2 style="margin-left: 30%;"><%- message %></h2>
            <form action="/submit" method="POST">
                <div class="mb-3">
                <label for="Author Name" class="form-label"><h2>Author</h2></label>
                <input type="text" class="form-control font2 selcted-text-area" id="authorName" name="name" placeholder="Enter name of the author" required>
                </div>
                <div class="mb-3">
                <label for="Content" class="form-label"><h2>Content</h2></label>
                <textarea class="form-control selcted-text-area font2" id="formGroupExampleInput2" name="content" placeholder="Enter your content here" rows="5" required></textarea>
                </div>
                <div class="mb-3">
                <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
        </div>
<% } else { %>

        <div id="desktopPostBody" style="display: none;">
        <div class="desktop-body-contents">
            <form action="/submit" method="POST">
                <div class="mb-3">
                <label for="Author Name" class="form-label"><h2>Author</h2></label>
                <input type="text" class="form-control font2 selcted-text-area" id="authorName" name="name" placeholder="Enter name of the author" required>
                </div>
                <div class="mb-3">
                <label for="Content" class="form-label"><h2>Content</h2></label>
                <textarea class="form-control selcted-text-area font2" id="formGroupExampleInput2" name="content" placeholder="Enter your content here" rows="5" required></textarea>
                </div>
                <div class="mb-3">
                <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
        </div>

        <div id="mobilePostBody" style="display: none;">
        <div class="mobile-body-contents">
            <form action="/submit" method="POST">
                <div class="mb-3">
                <label for="Author Name" class="form-label"><h2>Author</h2></label>
                <input type="text" class="form-control font2 selcted-text-area" id="authorName" name="name" placeholder="Enter name of the author" required>
                </div>
                <div class="mb-3">
                <label for="Content" class="form-label"><h2>Content</h2></label>
                <textarea class="form-control selcted-text-area font2" id="formGroupExampleInput2" name="content" placeholder="Enter your content here" rows="5" required></textarea>
                </div>
                <div class="mb-3">
                <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
        </div>
<% } %>
<script src="/js/post.js"></script>
