<div id="desktopPostBody" style="display: none;">
    <div class="desktop-body-contents">
        <form action="/submit" method="POST">
            <div class="mb-3">
            <label for="Author Name" class="form-label"><h2>Author</h2></label>
            <input type="text" class="form-control font2 selcted-text-area" id="authorName" placeholder="Enter name of the author of the post">
          </div>
          <div class="mb-3">
            <label for="Content" class="form-label"><h2>Content</h2></label>
            <textarea class="form-control selcted-text-area font2" id="formGroupExampleInput2" placeholder="Enter your content here" rows="5"></textarea>
          </div>
        </form>
    </div>
</div>

<div id="mobilePostBody" style="display: none;">
    <div class="mobile-body-contents">
    </div>
</div>
<script src="/js/post.js"></script>
